body{
    background-color:#282657;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

h1{
    font-family: 'Roboto Mono';
}

.headerCSS {
    background-color: #2a4382;
    padding-top: 15px;
    padding-bottom: 15px;
}

.link-style {
     color: #282657;
}

.projectCSS {
    width: 100%;
    height: 50%;
}

.placeholderIMG {
    width: 75%;
    height: auto;
}

#buttons {
    align-content: 
}